<a href="https://colab.research.google.com/github/judajuded2012/Logestic-regression/blob/main/Portuguese_banking_institution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

# Loding DataSet

In [2]:
data = pd.read_csv("/content/drive/MyDrive/Data set/portu_banking_final.csv")

In [3]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999.0,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999.0,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6.0,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999.0,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3.0,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

# Exploring DataSet

In [4]:
data.shape

(41188, 21)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  object
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  float64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp_var_rate    41188 non-null  float64
 16  cons_price_idx  41188 non-null  float64
 17  cons_conf_idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr_employed     41188 non-null  float64
 20  y               41188 non-null  int64
dtypes: float64(6), int64(4), object(11)
memory usage: 6.6+ MB

In [6]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
duration,41188.0,258.285010,259.279249,0.000,102.000,180.000,319.000,4918.000
campaign,41188.0,2.567593,2.770014,1.000,1.000,2.000,3.000,56.000
pdays,41188.0,963.568005,211.772296,0.000,999.000,999.000,999.000,9999.000
previous,41188.0,0.172963,0.494901,0.000,0.000,0.000,0.000,7.000
emp_var_rate,41188.0,0.081886,1.570960,-3.400,-1.800,1.100,1.400,1.400
cons_price_idx,41188.0,93.575664,0.578840,92.201,93.075,93.749,93.994,94.767
cons_conf_idx,41188.0,-40.502600,4.628198,-50.800,-42.700,-41.800,-36.400,-26.900
euribor3m,41188.0,3.621291,1.734447,0.634,1.344,4.857,4.961,5.045
nr_employed,41188.0,5167.035911,72.251528,4963.600,5099.100,5191.000,5228.100,5228.100
y,41188.0,0.112654,0.316173,0.000,0.000,0.000,0.000,1.000

In [7]:
data['y']

0        0
1        0
2        1
3        0
4        1
        ..
41183    0
41184    0
41185    0
41186    0
41187    0
Name: y, Length: 41188, dtype: int64

In [8]:
data['y'].value_counts()

0    36548
1     4640
Name: y, dtype: int64

# Data Set Cleaning

In [9]:
data.dtypes

age                object
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays             float64
previous            int64
poutcome           object
emp_var_rate      float64
cons_price_idx    float64
cons_conf_idx     float64
euribor3m         float64
nr_employed       float64
y                   int64
dtype: object

In [10]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999.0,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999.0,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6.0,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999.0,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3.0,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

In [11]:
data['marital'].unique()

array(['married', 'single', 'divorced', 'D', 'unknown', 'S', 'M'],
      dtype=object)

In [12]:
data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed', 'y'],
      dtype='object')

In [13]:
for i in data.columns:
  
  print(i,"Has unique count of:: ",data[i].nunique(),"Unique Values")

age Has unique count of::  159 Unique Values
job Has unique count of::  21 Unique Values
marital Has unique count of::  7 Unique Values
education Has unique count of::  11 Unique Values
default Has unique count of::  3 Unique Values
housing Has unique count of::  3 Unique Values
loan Has unique count of::  3 Unique Values
contact Has unique count of::  2 Unique Values
month Has unique count of::  10 Unique Values
day_of_week Has unique count of::  5 Unique Values
duration Has unique count of::  1544 Unique Values
campaign Has unique count of::  42 Unique Values
pdays Has unique count of::  28 Unique Values
previous Has unique count of::  8 Unique Values
poutcome Has unique count of::  3 Unique Values
emp_var_rate Has unique count of::  10 Unique Values
cons_price_idx Has unique count of::  26 Unique Values
cons_conf_idx Has unique count of::  26 Unique Values
euribor3m Has unique count of::  316 Unique Values
nr_employed Has unique count of::  11 Unique Values
y Has unique count of::  2 Unique Values

In [14]:
data['job'].unique()

array(['blue-collar', 'technician', 'management', 'services', 'retired',
       'admin.', 'housemaid', 'unemployed', 'entrepreneur',
       'self-employed', 'unknown', 'student', 'MANAGEMENT', 'RETIRED',
       'STUDENT', 'ADMIN.', 'TECHNICIAN', 'BLUE-COLLAR', 'HOUSEMAID',
       'SERVICES', 'UNKNOWN'], dtype=object)

In [15]:
data['marital'].unique()

array(['married', 'single', 'divorced', 'D', 'unknown', 'S', 'M'],
      dtype=object)

In [16]:
data['education'].unique()

array(['basic.4y', 'unknown', 'university.degree', 'high.school',
       'basic.9y', 'professional.course', 'basic.6y', 'basic-6y',
       'basic-9y', 'basic-4y', 'illiterate'], dtype=object)

In [17]:
data['age'] = pd.to_numeric(data['age'],errors='coerce')

In [18]:
data['age'].isnull().sum()

13

In [19]:
data = data.dropna()

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41175 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41175 non-null  float64
 1   job             41175 non-null  object
 2   marital         41175 non-null  object
 3   education       41175 non-null  object
 4   default         41175 non-null  object
 5   housing         41175 non-null  object
 6   loan            41175 non-null  object
 7   contact         41175 non-null  object
 8   month           41175 non-null  object
 9   day_of_week     41175 non-null  object
 10  duration        41175 non-null  int64
 11  campaign        41175 non-null  int64
 12  pdays           41175 non-null  float64
 13  previous        41175 non-null  int64
 14  poutcome        41175 non-null  object
 15  emp_var_rate    41175 non-null  float64
 16  cons_price_idx  41175 non-null  float64
 17  cons_conf_idx   41175 non-null  float64
 18  euribor3m       41175 non-null  float64
 19  nr_employed     41175 non-null  float64
 20  y               41175 non-null  int64
dtypes: float64(7), int64(4), object(10)
memory usage: 6.9+ MB

In [21]:
data['age']=data['age'].astype('int64')

In [22]:
data.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays             float64
previous            int64
poutcome           object
emp_var_rate      float64
cons_price_idx    float64
cons_conf_idx     float64
euribor3m         float64
nr_employed       float64
y                   int64
dtype: object

In [23]:
data['job'].value_counts()

admin.           10418
blue-collar       9248
technician        6740
services          3965
management        2922
retired           1717
entrepreneur      1456
self-employed     1420
housemaid         1059
unemployed        1013
student            873
unknown            329
RETIRED              3
SERVICES             3
STUDENT              2
ADMIN.               2
MANAGEMENT           1
TECHNICIAN           1
BLUE-COLLAR          1
HOUSEMAID            1
UNKNOWN              1
Name: job, dtype: int64

In [24]:
data = data.replace('ADMIN.','admin.')
data = data.replace('RETIRED','retired')
data = data.replace('SERVICES','services')
data = data.replace('STUDENT','student')
data = data.replace('MANAGEMENT','management')
data = data.replace('TECHNICIAN','technician')
data = data.replace('HOUSEMAID','housemaid')
data = data.replace('BLUE-COLLAR','blue-collar')
data = data.replace('UNKNOWN','unknown')

In [25]:
data['job'].value_counts()

admin.           10420
blue-collar       9249
technician        6741
services          3968
management        2923
retired           1720
entrepreneur      1456
self-employed     1420
housemaid         1060
unemployed        1013
student            875
unknown            330
Name: job, dtype: int64

In [26]:
data['marital'].value_counts()

married     24915
single      11561
divorced     4607
unknown        80
M               5
D               4
S               3
Name: marital, dtype: int64

In [27]:
data=data.replace('M','married')
data=data.replace('D','divorced')
data=data.replace('S','single')

In [28]:
data['education'].value_counts()

university.degree      12163
high.school             9512
basic.9y                6033
professional.course     5242
basic.4y                4164
basic.6y                2284
unknown                 1731
illiterate                18
basic-4y                  12
basic-9y                  10
basic-6y                   6
Name: education, dtype: int64

In [29]:
data=data.replace('basic-4y','basic.4y')
data=data.replace('basic-9y','basic.9y')
data=data.replace('basic-6y','basic.6y')

In [30]:
data['education'].value_counts()

university.degree      12163
high.school             9512
basic.9y                6043
professional.course     5242
basic.4y                4176
basic.6y                2290
unknown                 1731
illiterate                18
Name: education, dtype: int64

In [31]:
data.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays             float64
previous            int64
poutcome           object
emp_var_rate      float64
cons_price_idx    float64
cons_conf_idx     float64
euribor3m         float64
nr_employed       float64
y                   int64
dtype: object

In [32]:
data['default'].value_counts()

no         32578
unknown     8594
yes            3
Name: default, dtype: int64

# Data Encoding

In [33]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['marital'] = le.fit_transform(data['marital'])
data['poutcome'] = le.fit_transform(data['poutcome'])
data['education'] = le.fit_transform(data['education'])
data['loan'] = le.fit_transform(data['loan'])
data['contact'] =le.fit_transform(data['contact'])
data['housing'] = le.fit_transform(data['housing'])

In [34]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,1,0,unknown,2,0,0,aug,thu,...,1,999.0,0,1,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,1,7,no,0,0,0,nov,fri,...,1,999.0,0,1,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,2,6,no,2,0,0,jun,thu,...,3,6.0,2,2,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,1,3,no,0,0,0,apr,fri,...,2,999.0,0,1,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,1,0,no,2,0,0,aug,fri,...,1,3.0,1,2,-2.9,92.201,-31.4,0.869,5076.2,1

In [35]:
data.dtypes

age                 int64
job                object
marital             int64
education           int64
default            object
housing             int64
loan                int64
contact             int64
month              object
day_of_week        object
duration            int64
campaign            int64
pdays             float64
previous            int64
poutcome            int64
emp_var_rate      float64
cons_price_idx    float64
cons_conf_idx     float64
euribor3m         float64
nr_employed       float64
y                   int64
dtype: object

In [36]:
data = pd.get_dummies(data, columns=['job','month'])

In [37]:
data.head()

,age,marital,education,default,housing,loan,contact,day_of_week,duration,campaign,...,month_apr,month_aug,month_dec,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep
0,44,1,0,unknown,2,0,0,thu,210,1,...,0,1,0,0,0,0,0,0,0,0
1,53,1,7,no,0,0,0,fri,138,1,...,0,0,0,0,0,0,0,1,0,0
2,28,2,6,no,2,0,0,thu,339,3,...,0,0,0,0,1,0,0,0,0,0
3,39,1,3,no,0,0,0,fri,185,2,...,1,0,0,0,0,0,0,0,0,0
4,55,1,0,no,2,0,0,fri,137,1,...,0,1,0,0,0,0,0,0,0,0

In [38]:
data.drop(['default','day_of_week'],axis = 1, inplace = True)

In [39]:
data.head()

,age,marital,education,housing,loan,contact,duration,campaign,pdays,previous,...,month_apr,month_aug,month_dec,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep
0,44,1,0,2,0,0,210,1,999.0,0,...,0,1,0,0,0,0,0,0,0,0
1,53,1,7,0,0,0,138,1,999.0,0,...,0,0,0,0,0,0,0,1,0,0
2,28,2,6,2,0,0,339,3,6.0,2,...,0,0,0,0,1,0,0,0,0,0
3,39,1,3,0,0,0,185,2,999.0,0,...,1,0,0,0,0,0,0,0,0,0
4,55,1,0,2,0,0,137,1,3.0,1,...,0,1,0,0,0,0,0,0,0,0

In [40]:
data.dtypes

age                    int64
marital                int64
education              int64
housing                int64
loan                   int64
contact                int64
duration               int64
campaign               int64
pdays                float64
previous               int64
poutcome               int64
emp_var_rate         float64
cons_price_idx       float64
cons_conf_idx        float64
euribor3m            float64
nr_employed          float64
y                      int64
job_admin.             uint8
job_blue-collar        uint8
job_entrepreneur       uint8
job_housemaid          uint8
job_management         uint8
job_retired            uint8
job_self-employed      uint8
job_services           uint8
job_student            uint8
job_technician         uint8
job_unemployed         uint8
job_unknown            uint8
month_apr              uint8
month_aug              uint8
month_dec              uint8
month_jul              uint8
month_jun              uint8
month_mar              uint8
month_may              uint8
month_nov              uint8
month_oct              uint8
month_sep              uint8
dtype: object

# Ploting

In [ ]:
plt.figure(figsize = (16,16))
sns.heatmap(data, annot = True, cmap= 'cubehelix_r')

# Traing Our Dataset

In [ ]:
x = data.drop(['y'],axis =1)
y = data['y']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.20)

In [ ]:
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()
LR.fit(x_train,y_train)

pred = LR.predict(x_test)

#Result

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(y_test,pred))

# Balancing Data using SMOTE

In [ ]:
from imblearn.over_sampling import SMOTE

SM = SMOTE(random_state=2)
x, y = SM.fit_resample(x,y)

In [ ]:
sns.countplot(y)

# Exploring RFE (Feature Engineering)

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier

DT = DecisionTreeClassifier()
rfe = RFE(DT,n_features_to_select= 10)
rfe.fit(x,y)

rfe.support_

In [ ]:
for feature in rfe.support_.nonzero():
  print(x.columns[feature])

In [ ]:
dtf = pd.DataFrame({'Features':x.columns, 'Ranking':rfe.ranking_})
sort_n = dtf.sort_values(by = 'Ranking')

In [ ]:
sort_n

# Re-Training Model

In [ ]:
x_tr , x_ts, y_tr, y_ts = train_test_split(x,y,test_size = 0.20)

In [ ]:
logi_reg = LogisticRegression()
logi_reg.fit(x_tr,y_tr)
pred = logi_reg.predict(x_ts)

# Result

In [ ]:
print(classification_report(y_ts,pred))

# Confusion Metrix

In [ ]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_ts,pred)